$windows-text : #003B93;
section.windows-update-banner {
    .windows-text {
        color: $windows-text;
        h3 {
            line-height: 1.2;
            color: transparent;

            @supports (background-clip: text) or (-webkit-background-clip: text) {
                background-clip: text;
                // Google Chrome fix
                -webkit-text-fill-color: transparent;
                background: -webkit-linear-gradient(42deg, rgba(5, 6, 66,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
                background: -o-linear-gradient(transparent, transparent);
                -webkit-background-clip: text;
            }

            background-image: linear-gradient(42deg, rgba(5, 6, 66,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
            display: block;
        }
    }
    .windows-update-banner-bg {
        object-position: 50% 10%;
        @media (max-width: 992px) {
            transform: scale(2) translateX(10%);
        }
        @media (max-width: 576px) {
            transform: scale(3) translateX(30%);
        }
    }
}