$font-primary: "Inter", sans-serif;

$font-size-base: 18px;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$line-height-default: 1;
$line-height-heading: 1.1;
$line-height-paragraph: 1.4241;

$border-radius-0: 0;
$border-radius-5: 0.5rem;
$border-radius-25: 2.5rem; 
$border-radius-50: 5rem; 

$color-primary: #212427;
$color-accent: #f2efe6;
$background-primary: #f2efe6;
$background-accent: #212427;

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root:              null !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$h1-font-size:                $font-size-base * 3 !default;
$h2-font-size:                $font-size-base * 2.5 !default;
$h3-font-size:                $font-size-base * 2 !default;
$h4-font-size:                $font-size-base * 1.75 !default;
$h5-font-size:                $font-size-base * 1.5 !default;
$h6-font-size:                $font-size-base !default;
// scss-docs-end font-variables