@import "variables";

html {
    overflow: auto;
    scroll-padding-top: 70.4px;
    * {
        font-family: $font-primary;
    }
    body {
        overflow: hidden;
    }
}
figure picture {
    height: inherit;
    width: inherit;
    img {
        aspect-ratio: 16/9
    }
}

@import "utilities";
@import "reset";
@import "header";
@import "nav";
@import "first-section";
@import "second-section";
@import "third-section";
@import "fourth-section";
@import "fifth-section";
@import "sixth-section";
@import "footer";