@import "variables";
@import "utilities";
@import "reset";
@import "header";

html * {
    font-family: $font-primary;
    font-size: $font-size-base;
}
figure picture {
    height: inherit;
    width: inherit;
    img {
        aspect-ratio: 16/9
    }
}


@import "first-section";