@import "variables";

html * {
    font-family: $font-primary;
}
figure picture {
    height: inherit;
    width: inherit;
    img {
        aspect-ratio: 16/9
    }
}

@import "utilities";
@import "reset";
@import "header";
@import "nav";
@import "first-section";
@import "second-section";
@import "third-section";