:root {
  --bs-body-font-size: 18px;
  --bs-danger-rgb: #DF0000;
}

html {
  overflow: auto;
  scroll-padding-top: 70.4px;
}
html * {
  font-family: "Inter", sans-serif;
}
html body {
  overflow: hidden;
}

figure picture {
  height: inherit;
  width: inherit;
}
figure picture img {
  aspect-ratio: 16/9;
}

.place-items-center {
  place-items: center;
}

.place-items-start {
  place-items: start;
}

.color-primary {
  color: #212427;
}

.color-accent {
  color: #f2efe6;
}

.fs-7 {
  font-size: 0.725rem;
}

.fs-8 {
  font-size: 0.675rem;
}

.bg-danger {
  background-color: var(--bs-danger-rgb) !important;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  position: relative;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header {
  background-color: #111111;
  position: sticky;
  top: 0;
  z-index: 2;
}
header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header .container h2.logo {
  color: #f2efe6;
  padding: 1rem;
}
@media (max-width: 768px) {
  header .container h2.logo {
    font-size: 0.725rem;
  }
}

header .container nav.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
header .container nav.menu ul li {
  padding: 1rem;
}
header .container nav.menu ul li a {
  display: block;
  color: #f2efe6;
  margin: 0;
  text-decoration: none;
}
header .container nav.menu ul li a:hover {
  color: transparent;
  text-decoration: none;
}
header .container nav.menu ul li a.win11:hover {
  background-image: linear-gradient(45deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  header .container nav.menu ul li a.win11:hover {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(45deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  }
}
header .container nav.menu ul li a.paketit:hover {
  background-image: linear-gradient(45deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  header .container nav.menu ul li a.paketit:hover {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(45deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  }
}
header .container nav.menu ul li a.yhteystiedot:hover {
  background-image: linear-gradient(225deg, rgb(195, 232, 176), rgb(89, 160, 211));
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  header .container nav.menu ul li a.yhteystiedot:hover {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(225deg, rgb(195, 232, 176), rgb(89, 160, 211));
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  }
}
@media (max-width: 768px) {
  header .container nav.menu ul li a {
    font-size: 0.725rem;
  }
}

section.main-banner {
  height: 100dvh;
}

section.windows-update-banner .windows-text {
  color: #003B93;
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s ease-in-out;
}
section.windows-update-banner .windows-text h3 {
  line-height: 1.2;
  color: transparent;
  background-image: linear-gradient(42deg, rgb(5, 6, 66) 0%, rgb(9, 9, 121) 50%, rgb(0, 212, 255) 100%);
  display: block;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  section.windows-update-banner .windows-text h3 {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(42deg, rgb(5, 6, 66) 0%, rgb(9, 9, 121) 50%, rgb(0, 212, 255) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  }
}
section.windows-update-banner .windows-update-banner-bg {
  object-position: 50% 10%;
}
@media (max-width: 992px) {
  section.windows-update-banner .windows-update-banner-bg {
    transform: scale(2) translateX(10%);
  }
}
@media (max-width: 576px) {
  section.windows-update-banner .windows-update-banner-bg {
    transform: scale(3) translateX(30%);
  }
}
section.windows-update-banner.active .windows-text {
  opacity: 1;
  transform: translateY(0);
}

section#Palvelut .palvelut-grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
section#Palvelut .palvelut-grid .grid-item {
  transition: all 1s ease-in-out;
}
section#Palvelut .palvelut-grid .grid-item-1, section#Palvelut .palvelut-grid .grid-item-3 {
  transform: translateX(-100%);
  opacity: 0;
}
section#Palvelut .palvelut-grid .grid-item-2, section#Palvelut .palvelut-grid .grid-item-4 {
  transform: translateX(100%);
  opacity: 0;
}
@media (max-width: 768px) {
  section#Palvelut .palvelut-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  section#Palvelut .palvelut-grid .grid-item {
    height: 320px;
  }
}
section#Palvelut.active .grid-item-1, section#Palvelut.active .grid-item-3, section#Palvelut.active .grid-item-2, section#Palvelut.active .grid-item-4 {
  transform: translateX(0);
  opacity: 1;
}

section#Huoltotarjous .grid-container {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s ease-in-out;
}
section#Huoltotarjous.active .grid-container {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  section#Paketit {
    padding: 0 !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
section#Paketit .grid-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}
section#Paketit .grid-container .grid-item {
  width: 75%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}
section#Paketit .grid-container .grid-item.grid-item-1 {
  justify-self: end;
  transform: translateX(-100%);
}
section#Paketit .grid-container .grid-item.grid-item-2 {
  justify-self: start;
  transform: translateX(100%);
}
section#Paketit .grid-container .grid-item button.btn {
  align-self: end;
}
@media (max-width: 992px) {
  section#Paketit .grid-container .grid-item {
    width: 100%;
  }
  section#Paketit .grid-container .grid-item.grid-item-1, section#Paketit .grid-container .grid-item.grid-item-2 {
    justify-self: normal;
  }
}
@media (max-width: 768px) {
  section#Paketit .grid-container {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}
section#Paketit.active .grid-item {
  opacity: 1;
}
section#Paketit.active .grid-item.grid-item-1, section#Paketit.active .grid-item.grid-item-2 {
  transform: translateX(0);
}

section#Yhteystiedot .grid-container {
  grid-template-areas: "contact-name    google-maps" "contact-details google-maps" "contact-details google-maps" "contact-details google-maps" "contact-details google-maps" "contact-details google-maps" "contact-details google-maps" "contact-details google-maps" "contact-details google-maps" "contact-details google-maps";
}
section#Yhteystiedot .grid-container .contact-name {
  grid-area: contact-name;
}
section#Yhteystiedot .grid-container .contact-details {
  grid-area: contact-details;
}
section#Yhteystiedot .grid-container .google-maps-frame {
  grid-area: google-maps;
}
@media (max-width: 992px) {
  section#Yhteystiedot .grid-container {
    grid-template-areas: "contact-name contact-details" "google-maps google-maps";
  }
}
@media (max-width: 576px) {
  section#Yhteystiedot .grid-container {
    grid-template-areas: "contact-name" "contact-details" "google-maps";
  }
}

footer > section {
  background-color: #111111;
}
footer > section a, footer > section a:hover {
  text-decoration: none;
}
