:root {
  --bs-body-font-size: 18px ;
}

html * {
  font-family: "Inter", sans-serif;
}

figure picture {
  height: inherit;
  width: inherit;
}
figure picture img {
  aspect-ratio: 16/9;
}

.place-items-center {
  place-items: center;
}

.place-items-start {
  place-items: start;
}

.color-primary {
  color: #212427;
}

.color-accent {
  color: #f2efe6;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  position: relative;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header {
  background-color: #111111;
  position: sticky;
  top: 0;
  z-index: 2;
}
header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header .container h2.logo {
  color: #f2efe6;
  padding: 1rem;
}

header .container nav.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
header .container nav.menu ul li {
  padding: 1rem;
}
header .container nav.menu ul li a {
  color: #f2efe6;
  margin: 0;
  text-decoration: none;
}
header .container nav.menu ul li a:hover {
  color: transparent;
  text-decoration: none;
  display: block;
}
header .container nav.menu ul li a.win11:hover {
  background-image: linear-gradient(45deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  header .container nav.menu ul li a.win11:hover {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(45deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  }
}
header .container nav.menu ul li a.pakettit:hover {
  background-image: linear-gradient(45deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  header .container nav.menu ul li a.pakettit:hover {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(45deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  }
}
header .container nav.menu ul li a.yhteystiedot:hover {
  background-image: linear-gradient(225deg, rgb(195, 232, 176), rgb(89, 160, 211));
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  header .container nav.menu ul li a.yhteystiedot:hover {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(225deg, rgb(195, 232, 176), rgb(89, 160, 211));
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  }
}

section.main-banner {
  height: 100dvh;
}

section.windows-update-banner .windows-text {
  color: #003B93;
}
section.windows-update-banner .windows-text h3 {
  line-height: 1.2;
  color: transparent;
  background-image: linear-gradient(42deg, rgb(5, 6, 66) 0%, rgb(9, 9, 121) 50%, rgb(0, 212, 255) 100%);
  display: block;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  section.windows-update-banner .windows-text h3 {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(42deg, rgb(5, 6, 66) 0%, rgb(9, 9, 121) 50%, rgb(0, 212, 255) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  }
}
section.windows-update-banner .windows-update-banner-bg {
  object-position: 50% 10%;
}
@media (max-width: 992px) {
  section.windows-update-banner .windows-update-banner-bg {
    transform: scale(2) translateX(10%);
  }
}
@media (max-width: 576px) {
  section.windows-update-banner .windows-update-banner-bg {
    transform: scale(3) translateX(30%);
  }
}

.palvelut-grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 768px) {
  .palvelut-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .palvelut-grid .grid-item {
    height: 320px;
  }
}
